name: calvin_on_now
description: Neural Vocal Enhancement Studio
version: 1.0.0+1
environment:
  sdk: ">=3.0.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  http: ^1.1.0
flutter:
  assets:
    - assets/
